* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #1a4862;
}

.container {
    display: grid;
    grid-template-columns: 1fr ;
    height: 100vh;
}

.container > * {
    padding: 7px;
}

.side-nav {
    display: none;
    background-color: #1a4862;
}

.side-nav > h2 {
    margin-bottom: 0.8rem;
    color: #D7DFA3;
    font-size: large;
}

.side-content {
    background-color: #D7DFA3;
}

.side-content > * {
    margin-bottom: 0.8rem;
}

header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-newBook:hover, .btn-addNewBook:hover {
    transform: scale(1.1);
}

.page {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.card {
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0.5px 0.5px 3px 0.5px orange;
    height: fit-content;
    background-color: antiquewhite;
}

.btn {
    border-radius: 5px;
    border: 0;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: all 0.1s linear;
}

.btn-newBook {
    background-color: #1a4862;
    color: #D7DFA3;
}

.btn-addNewBook {
    background-color: #D7DFA3;
}

.text {
    color: rgb(179, 0, 0);
}